@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}



.main-wrapper {


    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
    display: flex;
    margin-left: 15%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 500px;
}

.left-wrapper {
    flex: 1;
    background: url('../assets/images/background.png') no-repeat top center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;





}

.right-wrapper {
    flex: 1;
    padding: 60px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;




}

.sign-up-form {
    display: flex;
    max-width: 600px;
    margin: 0 auto;


}

.input-fields-1 {

    margin-right: 10%;
    display: flex;
    flex-direction: column;
    width: 100%;

}


.head {
    color: #00796B;
    font-size: 24px;
    font-weight: bold;

}

.title {
    font-size: 30px;
    font-weight: bold;
    padding-top: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

.welcome-text {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;

}

.input-fields-1 input[type="email"],
input[type="password"] {

    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    color: #808080;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    width: 100%;
    font-size: 1rem;

}



.welcome-text {
    color: white;
    text-align: center;

}

.welcome-sign-in input[type="submit"] {
    width: 200px;
    background: #00796B;
    border-radius: 20px;
    border: 0px;
    color: white;
    padding: 15px;
    width: 80%;
    cursor: pointer;


}

.welcome-sign-in input[type="submit"]:hover {
    background-color: black;
    color: white;

}

@media only screen and (max-width: 900px) {


    .main-wrapper {
        background-color: white;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 90%;
        display: flex;
        margin-left: 5%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        min-height: 500px;
    }

    @media only screen and (max-width: 600px) {
        * {

            padding: 0;
            box-sizing: border-box;
            outline: none;
            font-family: 'Roboto', sans-serif;
        }

        .main-wrapper {
            transform: initial;
            margin-top: 10px;
            margin-bottom: 10px;
            position: unset;
            background-color: white;
            width: 90%;
            margin-left: 5%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            display: flex;
            flex-direction: column;

            border-bottom-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;


        }

        .left-wrapper {
            background: url('../assets/images/background.png') no-repeat top center;
            background-size: cover;
            width: 100%;
            flex: 1;
            padding-bottom: 10%;
            min-height: 300px;

            border-bottom-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;



        }

        .right-wrapper {

            flex: 2;

        }

        .sign-up-form {
            width: 100%;
            display: flex;
            flex-direction: column;


        }

        .input-fields-1 {
            flex: 1;
            width: 100%;


        }



        .head {
            color: #00796B;
            font-size: 24px;
            font-weight: bold;

        }

        .title {
            font-size: 30px;
            font-weight: bold;
            padding-top: 50px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .welcome-text {
            text-align: center;
            margin-top: 40px;
            margin-bottom: 40px;

        }



    }
}